In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('salary_data_cleaned.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,ave_salary,company name,same_state,headquater,age,python_yn,r studio,spark,aws,excel
0,Data Scientist,CA$89K-CA$100K (Glassdoor Est.),"What We Are Building:\n\nAt Rubikloud, we are ...",3.7,Rubikloud Technologies\n3.7,Toronto,"Toronto, Canada",51 to 200 employees,2013,Company - Private,...,94.5,Rubikloud Technologies\n,1,Toronto,7,1,1,1,0,0
1,Data Scientist,CA$89K-CA$100K (Glassdoor Est.),"Company Profile\n\nHome Capital Group Inc., to...",3.1,Home Trust\n3.1,Toronto,"Toronto, Canada",501 to 1000 employees,1977,Company - Public,...,94.5,Home Trust\n,1,Toronto,43,1,1,1,0,1
2,Data Scientist,CA$89K-CA$100K (Glassdoor Est.),The Analytic & Insights Group at The AIR MILES...,-1.0,AIR MILES,Toronto,"Toronto, Canada",501 to 1000 employees,1992,Company - Private,...,94.5,AIR MILES,1,Toronto,28,1,1,1,0,0
3,Data Scientist,CA$89K-CA$100K (Glassdoor Est.),YOU’LL LEVERAGE DATA TO IMPACT GLOBAL BUSINESS...,3.6,Nielsen\n3.6,Toronto,"New York, NY",10000+ employees,1923,Company - Public,...,94.5,Nielsen\n,0,New York,97,1,1,0,0,1
4,Data Scientist,CA$89K-CA$100K (Glassdoor Est.),Wanted: An eagle-eyed Data Scientist who will ...,5.0,Precision Nutrition\n5.0,Toronto,"Toronto, Canada",51 to 200 employees,2001,Company - Private,...,94.5,Precision Nutrition\n,1,Toronto,19,1,1,0,0,1

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'ave_salary', 'company name', 'same_state',
       'headquater', 'age', 'python_yn', 'r studio', 'spark', 'aws', 'excel'],
      dtype='object')

In [5]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machnie learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
    
    
# job title and seniority
# fix state los 
# job description length 
# competior count
# hourly wage to annual
# remove new line from job title

In [6]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [7]:
df['job_simp'].value_counts()

data scientist    150
Name: job_simp, dtype: int64

In [11]:
df['seniority'] = df['Job Title'].apply(seniority)

In [12]:
df['seniority'].value_counts()

na        122
senior     28
Name: seniority, dtype: int64

In [13]:
df['Location'].value_counts()

Toronto          76
Brampton         56
Woodbridge        9
Mississauga       4
Oakville          1
Stouffville       1
Markham           1
Newmarket         1
Richmond Hill     1
Name: Location, dtype: int64